<div style="min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <br>
  <h1 class= "text-xl text-white font-bold font-serif">発見したUMAは...</h1>
  <br>
  <div class= "text-4xl text-red-700 font-bold font-serif">
    <%= @uma %>
    <br>
    <h2 class= "text-xl text-red-700 font-serif mt-4">戦闘力:&ensp;<%= @power %></h2>
    <% if ["チュパカブラの群れ", "UMAの群れ", "謎のキメラ", "68期の妖精さん"].include?(@uma) %>
      <h3 class= "text-xl text-white font-serif mt-4 animate-blink">これは恐ろしい！！</h3>
    <% end %>
    <%= image_tag "#{@uma}.png", size: "360x360", alt: "#{@uma}", class: "mt-4" %>
  </div>
  <div class= "text-xl text-white font-serif mt-4">
    <%= uma_description(@uma) %>
  </div>
</div>

<% tweet_text = "あなたは#{@uma}を発見したぞ！戦闘力は#{@power}だ！" %>
  <% if ["チュパカブラの群れ", "UMAの群れ", "謎のキメラ", "68期の妖精さん"].include?(@uma) %>
    <% tweet_text += "恐ろしい！" %>
  <% elsif ["マーメイド"].include?(@uma) %>
    <% tweet_text += "美しい！" %>
  <% end %>

<div style="margin-top: 20px; margin-bottom: 5px; display: flex; justify-content: center; width: 100%; gap: 10px">
  <%= button_to "もう一度UMAを探しに行く", result_path, class: "bg-black text-white p-2 rounded" %>
  <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=#{CGI.escape(tweet_text)}&hashtags=UMAガチャ",
              target: "_blank", class: "bg-black text-white p-2 rounded flex items-center space-x-2" do %>
    <%= image_tag("x_logo.png", alt: "Xロゴ", size: "20x20") %>
    <span>&ensp;で自慢する</span>
  <% end %>
</div>

<div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: center; width: 100%;">
  <%= link_to "戻る", root_path, class: "btn btn-info text-white" %>
</div>