<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "UMAガチャ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag('favicon.ico') %>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="UMAガチャ" />
    <meta name="twitter:description" content="君もUMAを探しに行こう!" />
    <meta name="twitter:image" content="<%= image_url('ogp.png') %>" />
    <meta property="og:title" content="UMAガチャ" />
    <meta property="og:description" content="君もUMAを探しに行こう!" />
    <meta property="og:image" content="<%= image_url('ogp.png') %>" />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <div class="bg-indigo-950">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
